@import '../../app.scss';

.list-feed-wrap {
	.border-bottom-line {
		position: relative;

		&:not(:first-child) {
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $color-line;
				content: '';
			}
		}
	}

	.list-feed-loading-tip {
		width: 100%;
		height: 80px;
		line-height: 80px;
		color: $color-text-secondary;
		font-size: 24px;
		text-align: center;
	}
}
