@import '../../../app.scss';

.admin-wrap {
	box-sizing: border-box;
	width: 100%;
	height: 100%;

	.base-list {
		width: 100%;

		.item-normal {
			width: 100%;
			height: 100px;
			color: $color-text-long;
		}
	}

	.admin-list-add {
		height: 100%;
		padding-right: $border-bold-space;
		color: $color-primary;

		.icon-add {
			font-size: 40px;
		}
	}
}
