.detail-form-wrap {
	.form-item {
		margin-top: var(--border-thin-space);
		width: 100%;
		font-size: var(--h4);
		color: var(--color-text-primary);
		text-align: left;
		&:first-child {
			margin-top: 0;
		}

		.item-icon {
			flex: 0 0 40px;
			margin-right: var(--border-thin-space);
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: var(--color-shadow);
			.iconfont {
				font-size: var(--h4);
				color: var(--color-white);
			}
		}
		.item-value {
		}
		.item-enable {
			color: var(--color-link-normal);
		}
	}
}
