@import '../../../../app.scss';

.avatar-show-bottom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: $border-bold-space;
	margin-right: $border-bold-space;
	padding-bottom: $border-bold-space;
	display: flex;
	flex-direction: row;

	.bottom-button {
		flex: 1;
		margin-right: $border-bold-space;

		&:last-child {
			margin-right: 0;
		}
	}
}
