.module-card-wrap {
	width: 100%;
	height: 460px;
	margin-bottom: -160px;
	background-image: linear-gradient(
		var(--color-primary, #f7b500),
		var(--color-primary, #f7b500),
		var(--color-primary, #f7b500),
		#ffffff
	);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	.card-info {
		box-sizing: border-box;
		width: 100%;
		padding: 100px var(--border-bold-space, 32px) 100px
			var(--border-bold-space, 32px);
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		.info-left {
			flex: 0 0 140px;
			height: 100%;

			.left-avatar {
				position: relative;
				box-sizing: border-box;
				width: 140px;
				height: 140px;

				border: 8px solid var(--color-primary, #f7b500);
				border-radius: var(--radius-thin, 20px);
				box-shadow: 5px 5px 5px var(--color-shadow, #aaaaaa);

				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 120px;
				color: var(--color-text-placeholder, #dfdfe5);

				.image-avatar {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					overflow: hidden;
					border-radius: var(--radius-sm, 10px);
				}

				.image-border {
					position: absolute;
					width: 150%;
					height: 150%;
					top: -42px;
					left: -38px;
				}
			}
		}

		.info-mid {
			flex: 1 1 auto;
			width: 0;
			height: 100%;
			padding: 0 var(--border-bold-space, 32px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			.mid-name {
				width: 100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-size: var(--f4);
				color: var(--color-text-long, #272637);
			}

			.mid-level {
				width: 100%;
				margin-top: var(--border-thin-space, 16px);
				font-size: var(--f4);
				color: var(--color-text-long, #272637);
			}
		}

		.info-right {
			flex: 0 0 160px;
			height: 100%;

			.right-sign {
				width: 100%;
				height: 50px;
				border-radius: 25px;
				background-color: var(--color-mask, rgba(0, 0, 0, 0.3));
				color: var(--color-white, #ffffff);
			}
		}
	}
}
