@import '../../../../../../app.scss';

.article-wrap {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: $border-bold-space;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.article-item {
		width: 100%;
		height: $height-line-title;
		line-height: $height-line-title;
		margin-bottom: $border-bold-space;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.item-tag {
		display: inline-block;
		line-height: $height-line-title;
		margin-right: $border-thin-space;
	}

	.article-title {
		display: inline-block;
		font-size: $f2;
		font-weight: bold;
		line-height: $height-line-title;
		color: $color-text-long;
		text-align: left;
	}

	.article-value {
		text-align: left;
	}

	.article-image {
		margin-top: 50px;
	}
}
