// safe-area-inset-left：安全区域距离左边边界距离
// safe-area-inset-right：安全区域距离右边边界距离
// safe-area-inset-top：安全区域距离顶部边界距离
// safe-area-inset-bottom：安全区域距离底部边界距离

.safe-top {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
}

.safe-left {
	padding-left: constant(safe-area-inset-left);
	padding-left: env(safe-area-inset-left);
}

.safe-right {
	padding-right: constant(safe-area-inset-right);
	padding-right: env(safe-area-inset-right);
}

.safe-bottom {
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.hidden {
	display: none;
}

.hidden-far {
	position: relative;
	top: -9999px;
	left: -9999px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-h {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-center-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-between-h {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-between-v {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.flex-around-h {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.flex-around-v {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.flex-start-h {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flex-start-v {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.text-ellipsis {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}
