.item-content-wrap {
	margin-bottom: 20px;
	font-size: var(--f5);
	color: var(--color-text-long, #272637);

	// &:after {
	// 	content: '';
	// 	width: 100%;
	// 	display: inline-block;
	// }

	.item-content-text {
		text-align: justify;
		text-align-last: left;
	}
}
