@import '../../../../../app.scss';

.border-item-wrap {
	position: relative;
	width: 200px;
	height: 200px;
	padding-top: 40px;
	padding-bottom: 60px;
	margin-right: $border-bold-space;
	display: inline-block;

	.border-item-content {
		width: 100%;
		height: 100%;
		.item-image {
			width: 100%;
			height: 100%;
			margin-bottom: $border-bold-space;
		}

		.item-gray {
			filter: grayscale(100%);
		}

		.item-name {
			font-size: $f5;
			color: $color-text-long;
		}
	}

	.item-select {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		box-sizing: border-box;
		background-color: $color-text-placeholder;
		border: 4px solid $color-shadow;
		border-radius: $radius-thin;
	}
}
