.loading-page-wrap {
	position: fixed;
	top: -160px;
	left: 0;
	right: 0;
	bottom: 0;

	.loading-page-text {
		width: 100%;
		height: 60px;
		font-size: var(--f3);
		font-weight: bold;
		color: var(--color-primary, #f7b500);
	}
}
