.about-wrap {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: var(--border-bold-space, 32px);

	.about-title {
		margin-bottom: var(--border-bold-space, 32px);
	}
	.about-content {
		font-size: var(--f4);
		color: var(--color-text-long, #272637);
		text-align: justify;
	}
}
