.module-curtain-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.curtain-image {
		width: 400px;
		height: 400px;
		margin-bottom: var(--border-bold-space, 32px);
	}

	.curtain-gray {
		filter: grayscale(100%);
	}

	.curtain-value {
		width: 100%;
		text-align: left;
		color: var(--color-white, #ffffff);
		font-size: var(--f3);
		margin-bottom: var(--border-bold-space, 32px);
	}

	.curtain-button {
		box-sizing: border-box;
		width: 260px;
		margin-bottom: var(--border-bold-space, 32px);
	}
}
