@import '../../../../../app.scss';

.module-curtain-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.curtain-image {
		width: 400px;
		height: 400px;
		margin-bottom: $border-bold-space;
	}

	.curtain-gray {
		filter: grayscale(100%);
	}

	.curtain-value {
		width: 100%;
		text-align: left;
		color: $color-white;
		font-size: $f3;
		margin-bottom: $border-bold-space;
	}

	.curtain-button {
		box-sizing: border-box;
		width: 260px;
		margin-bottom: $border-bold-space;
	}
}
