.module-base-wrap {
	box-sizing: border-box;
	width: 100%;
	background-color: var(--color-white, #ffffff);
	margin-bottom: var(--border-bold-space, 32px);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.base-list {
		width: 100%;

		.item-normal {
			width: 100%;
			height: 100px;
			color: var(--color-text-long, #272637);
		}
	}

	// 自定义taro-ui样式
	.at-float-layout__container,
	.layout-body,
	.layout-body__content {
		min-height: auto;
	}

	.layout-body__content {
		white-space: nowrap;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
	}
}
