@import '../../app.scss';

.navigation-header-wrap {
	.at-nav-bar__left-view {
		position: relative;
		left: -10px;
		color: $color-black;
		text-align: center;
	}

	.navigation-header-content {
		z-index: 1000;
		background-color: $color-white;
	}

	.navigation-header-fixed {
		position: fixed;
		left: 0;
		right: 0;
	}
}
