.navigation-header-wrap {
	.navigation-header {
		position: fixed;
		left: 0;
		right: 0;
		z-index: 1000;
	}

	.bk-transparent {
		background-color: transparent;
	}

	.bk-color {
		background-color: #ffffff;
	}
}
