// iconfont样式

@font-face {
	font-family: 'iconfont'; /* project id 1883488 */
	src: url('//at.alicdn.com/t/font_1883488_4jezpq95h7x.eot');
	src: url('//at.alicdn.com/t/font_1883488_4jezpq95h7x.eot?#iefix')
			format('embedded-opentype'),
		url('//at.alicdn.com/t/font_1883488_4jezpq95h7x.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_1883488_4jezpq95h7x.woff') format('woff'),
		url('//at.alicdn.com/t/font_1883488_4jezpq95h7x.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_1883488_4jezpq95h7x.svg#iconfont') format('svg');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nav-back::before {
	content: '\e743';
}

.icon-nav-home::before {
	content: '\e763';
}

.icon-home::before {
	content: '\e7a7';
}

.icon-home-select::before {
	content: '\e7ae';
}

.icon-discover::before {
	content: '\e621';
}

.icon-discover-select::before {
	content: '\e6d6';
}

.icon-mine::before {
	content: '\e6ef';
}

.icon-mine-select::before {
	content: '\e779';
}

.icon-avatar::before {
	content: '\e773';
}

.icon-calender::before {
	content: '\e746';
}

.icon-default-avatar::before {
	content: '\e8c9';
}
