@import '../../../../../../app.scss';

.module-list-wrap {
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-color: $color-white;
	margin-bottom: $border-bold-space;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.module-list-content {
		width: 100%;
		margin-top: $border-bold-space;

		.item-normal {
			width: 100%;
			height: 100px;
			color: $color-text-long;
		}
		.item-logout {
			width: 100%;
			height: 100px;
			color: $color-careful;
			text-align: center;
		}
	}
}
