.module-list-wrap {
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-color: var(--color-white, #ffffff);
	margin-bottom: var(--border-bold-space, 32px);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.module-list-content {
		width: 100%;

		.item-normal {
			width: 100%;
			height: 100px;
			color: var(--color-text-long, #272637);
		}
		.item-logout {
			width: 100%;
			height: 100px;
			color: var(--color-careful, #e64340);
			text-align: center;
		}
	}
}
